{
	"extends": [
		"@commitlint/config-conventional"
	],
	"rules": {
		"type-enum": [
			2,
			"always",
			[
				"feat",
				"fix",
				"docs",
				"style",
				"refactor",
				"test",
				"chore",
				"wip",
				"release"
			]
		],
		"scope-enum": [
			2,
			"always",
			[
				"deps",
				"deps-api",
				"deps-auth",
				"deps-blog",
				"deps-web",
				"api",
				"auth",
				"web",
				"blog",
				"docker",
				"config",
				"core",
				"ui",
				"ci",
				"test",
				"release"
			]
		],
		"subject-case": [
			2,
			"never",
			[
				"start-case",
				"pascal-case",
				"upper-case"
			]
		]
	}
}
