{
	"singleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"semi": true,
	"useTabs": true,
	"endOfLine": "lf",
	"printWidth": 120,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"useTabs": true,
				"tabWidth": 2
			}
		}
	]
}
