@use '../base/vars' as *;
@use '../base/mixins' as *;

.github {
	text-align: start;

	@media screen and (min-width: $break-point-lg) {
		margin-bottom: 1.2rem;
	}

	&__sidebar {
		padding-left: 0px;
		padding-right: 0px;
	}

	&__sidebar-profile {
		display: grid;
		place-items: center;

		.github__rounded-circle {
			border-radius: 50%;
			width: 90%;
			aspect-ratio: 1 / 1;
			object-fit: contain;
			filter: sepia(0.3);
			// mix-blend-mode: luminosity;

			@media screen and (min-width: $break-point-lg) {
				width: 100%;
				padding: 0.5rem;
			}
		}
	}

	&__sidebar-body {
		padding: 0.75rem;

		.github__sub-title {
			color: #aeafb0;
			font-weight: normal;
		}

		.github__bio {
			margin-top: 1rem;
			font-size: 1.15rem;
		}
	}

	&__body-border {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 0;

		@media screen and (min-width: $break-point-lg) {
			border-width: 1px;
			border-width: 0px;
			border-radius: $border-radius;
			border-style: solid;
			border-color: #e1e4e8;
			box-shadow: var(--box-shadow);
		}
	}

	&__readme-wrapper {
		padding: 1.25rem;

		.breadcrumb {
			margin-bottom: 1rem;
			text-align: start;
			font-size: smaller;
			letter-spacing: 1px;
		}

		article {
			flex-basis: content;

			h2 {
				padding-bottom: 0.3rem;
				font-size: 1.5rem;
				border-bottom: 1px solid #e1e4e8;
			}

			blockquote {
				padding: 0 1rem;
				margin-top: 1rem;

				border-left: 0.25rem solid #dfe2e5;
			}

			p {
				margin-top: 1rem;
				font-size: 1rem;
				letter-spacing: 0.25px;
			}

			code {
				background: var(--hover-color);
			}

			h3 {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}

			a {
				margin-right: 0.75rem;
			}

			img[align='left'] {
				margin-right: 0.65rem;
				margin: 0.5rem;
			}
		}
	}
}
