// * {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// 	text-rendering: optimizeLegibility;

// 	-ms-text-size-adjust: 100%;
// 	-webkit-text-size-adjust: 100%;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-box-sizing: border-box;

// 	// set background color to dark mode [Temporary]
// 	background-color: #0a0416;
// 	color: white;

// 	//to avoid default blue border on focus
// 	&:focus {
// 		outline: 0 !important;
// 	}

// 	&:before,
// 	&:after {
// 		box-sizing: border-box;
// 		-webkit-box-sizing: border-box;
// 	}
// }

@use 'vars' as *;
@use 'mixins' as *;
@use 'animations' as *;
@use 'typography' as *;

:root {
	--bg-color: #{$color-background-light};
	--text-color: #{$color-text-primary-light};
	--hover-color: #{$color-hover-light};
	--primary-color: #{$color-primary};
	--secondary-color: #{$color-secondary};
	--accent-color: #{$color-accent};
	--success-color: #{$color-success-light};
	--card-color: #{$color-card-light};
	--box-shadow: #{$box-shadow-light};

	--text-primary: #{$color-text-primary-light};
	--text-secondary: #{$color-text-secondary-light};
}

[data-theme='dark'] {
	--bg-color: #{$color-background-dark};
	--text-color: #{$color-text-primary-dark};
	--hover-color: #{$color-hover-dark};
	--primary-color: #{$color-primary};
	--secondary-color: #{$color-secondary};
	--accent-color: #{$color-accent};
	--success-color: #{$color-success-dark};
	--card-color: #{$color-card-dark};
	--box-shadow: #{$box-shadow-dark};

	--text-primary: #{$color-text-primary-dark};
	--text-secondary: #{$color-text-secondary-dark};
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-poppins;
	background: var(--bg-color);
	color: var(--text-color);
	transition: $transition-default;
}

.main-content {
	padding-top: 4.25rem;
	max-width: 100%;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;

	@media screen and (min-width: $break-point-md) {
		padding-top: calc(5.25rem - 4px);
	}
}
